
body > #oil_wrap{
	background: #F7F8FA;
	height: auto;
	min-height: 100%;
}
.chongzhi_search_wrap{
	position: relative;
	min-width: 300px;
	max-width: 640px;
	width: 94%;
	margin:0 auto;
	margin-top: 10px;
}
.chongzhi_search_wrap form{
	position: relative;
	width: 80%;
	margin-right: 65px;
	height: 30px;
	background: #FFFFFF;
	border: 1px solid #E6EAF1;
	border-radius: 4px;
}
.chongzhi_search_wrap .icon_search{
	width: 14px;
	height: 14px;
	background: url(images/searchIcon.png) no-repeat left center;
	background-size: 14px 14px;
	position: absolute;
	left: 5px;
	top:8px;

}
.chongzhi_search_wrap  input{
	width: 80%;
	height: 20px;
	line-height: 20px;
	margin-left: 26px;
	margin-top: 5px;
	font-size: 14px;
	color: #8E8E93;
	letter-spacing: -0.15px;
}
.chongzhi_search_wrap .search_btn{
	width: 55px;
	height: 30px;
	border:solid 1px #EC6628;
	border-radius: 4px;
	text-align: center;
	line-height: 30px;
	position: absolute;
	right: 0;
	top:0;
	color:#EC6E34;
	font-size: 13px;
}
.chongzhi_tips{
	margin-top: 20px;
	text-align: right;
	font-size: 13px;
	color: #666666;
	letter-spacing: 1.5px;
}
.chongzhi_tips .color_red{
	color:#EC6A2F;
}
ul.oil_table{
	margin-top: 10px;

}
.oil_table li.tab_item{
	height: 44px;
	line-height: 44px;
	font-size: 0;
	color: #666666;
	position: relative;
	border-left: solid 1px #D2D8E4;
	border-right: solid 1px #D2D8E4;
	border-bottom: solid 1px #D2D8E4;
	margin-left: -1px;
	margin-right: -1px;
	background: #fff;
}
.oil_table li.tab_item.tab_header{
	background: #DC6530;
	border-radius: 3px 3px 0 0;
	color:#fff;
	border-left: solid 1px #DC6530;
	border-right: solid 1px #DC6530;
}
.oil_table li.tab_item.tab_footer{
	border-radius: 0 0 3px 3px;
	border-left: solid 1px #D2D8E4;
	border-right: solid 1px #D2D8E4;
}
.checkbox_wrap{
	float: left;
	width: 10%;
	min-width: 20px;
	height: 44px;
	position: relative;
}
.checkbox_wrap input[type="checkbox"]{
	position: absolute;
	left: -9999px;
}
.checkbox_wrap input[type="checkbox"] + i{
	position: absolute;
	width: 16px;
	height: 16px;
	right: 0;
	top:50%;
	margin-top: -8px;
	background: url(images/unchecked.png)no-repeat left center;
	background-size: 16px 16px;
}
.checkbox_wrap input[type="checkbox"]:checked + i{
	position: absolute;
	width: 16px;
	height: 16px;
	right: 0;
	top:50%;
	background: url(images/check.png) no-repeat left center;
	background-size: 16px 16px;
}
.oil_table  .details_wrap{
	margin-left: 2%;
	width: 88%;
	height: 44px;
	line-height: 44px;
	float: left;
	font-size: 0;
}
.details_wrap .tab_one{
	width: 30%;
	min-width: 65px;
	font-size: 13px;
	display: inline-block;
}
.details_wrap .tab_two{
	width: 30%;
	font-size: 13px;
	display: inline-block;
}
.details_wrap .tab_three{
	width: 40%;
	font-size: 13px;
	display: inline-block;
}
ul.chongzhi_page{
	margin-top: 20px;
	text-align: center;
	font-size: 13px;
}
ul.chongzhi_page li{
	display: inline-block;
}
ul.chongzhi_page li.prev{
	float: left;
}
ul.chongzhi_page li.next{
	float: right;
}
ul.chongzhi_page li.page{
	padding: 0 6px;
}
@media screen and (min-width:400px){
	ul.chongzhi_page li.page{
		padding: 0 10px;
	}
}
ul.chongzhi_page li.page a{
	color: #2A2A2A;
}
ul.chongzhi_page li.page .z_click{
	color: #E76633;
}


















